.profile__info {
    max-width: 282px;
    margin: 0 19px;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 8px;
}

@media screen and (min-width: 321px) {
    .profile__info {
        margin: 0 auto;
    }
}

@media screen and (min-width: 786px) {
    .profile__info {
        margin: 0 30px;
        max-width: 336px;
    }
}