.profile__button-add {
    min-width: 282px;
    height: 50px;
    border: 1px solid white;
    margin-top: 36px;
    cursor: pointer;
    transition: .666s opacity ease-in-out;
    background-color: transparent;
}

@media screen and (min-width: 786px) {
    .profile__button-add {
        min-width: 150px;
        margin: 0;
        align-self: center;
        justify-self: end;
    }
}

.profile__button-add:hover {
    opacity: 60%;
}