.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 22px;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2;
    object-fit: cover;
}


@media screen and (min-width: 786px) {
    .profile__avatar {
        margin: 0;
    }
}